@font-face {
    font-family: 'belgika';
    src: url('belgika-5th-webfont.woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'belgika';
    src: url('belgika-40th-webfont.woff');
    font-weight: normal;
    font-style: normal;

}