//$page-width: 297mm;
//$page-height: 420mm;

$page-width: 210mm;
$page-height: 297mm;

$page-margin_top: 10mm;
$page-margin_bottom: 15mm;
$page-margin_left: 10mm;
$page-margin_right: 10mm;

$page-bleed: 4mm;
$tab: 5mm;

$text-color: #000;
$text-color-light: #666;



#pages{

	.page{
		width: $page-width;
		height: $page-height;
		max-width: $page-width;
		max-height: $page-height;
		padding-left: $page-margin_left;
		padding-right: $page-margin_right;
		padding-top: $page-margin_top;
		padding-bottom: $page-margin-bottom;
		

		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-column-gap: $page-bleed;
		grid-row-gap: $baseline;
		grid-template-rows: repeat(22, 1fr);

		overflow: hidden;

	}
	
	/////////////////
	/// GLobal RUles
	///////////////
	hr{ border: none; height: 0; }


	/////////////////
	/// Specific Recto 
	///////////////
	.recto{

		background: #fff !important;
		//background: #454545 !important;

		.cartouche{
			z-index: 9;
			background: white;
			color: white;
			grid-column: 1/3;
			grid-row: 1/6;
			width: 100%;
			height: 100%; 
			color: #0b60a6;
			border: 1px solid #0b60a6;

			padding: $baseline $unite/2;
			box-sizing: border-box;
		}

		.p5Canvas{
			position: absolute;
			top: 0;
			left: 0;
		}

		#defaultCanvas0{ 

			path{
				mix-blend-mode: multiply;
			}
		}

		#defaultCanvas1{

		}

	}
	
	/////////////////
	/// Specific verso 
	///////////////

	.verso{
	
	}

	//////////////
	// ULTRA SPECIFIQUE
	/////////////////////

}
 
@media print {
 

	@page {
		size: #{$page-width + 2mm} #{$page-height + 2mm}; // if Pixartpirnting, need 1mm around	
		margin: 0; 
	}

	#pages{

	}

}