html {
  font-family: "open_sans", sans-serif;
  font-size: 10px; }

/*
@mixin font-size-100($color: $text-color) {
    font-size: $font-size*10;
    line-height: $baseline*8.5;
    font-weight: normal;
    letter-spacing: -1px;
    color: $color;
}
*/
/* desktop */
/*  phone  */
/*  bordures  */
/*  autre */
::selection, ::-moz-selection {
  background: #ffdb00;
  color: #fff; }

/* mixin for multiline */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  box-sizing: border-box;
  text-decoration-skip-ink: auto; }

body, html {
  max-width: 100vw;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  position: relative;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: never;
  -moz-font-smooth: never; }

em {
  font-style: italic; }

button {
  border: none;
  outline: none; }

a {
  text-decoration: none;
  color: currentColor; }

a:hover {
  text-decoration: none; }

ul {
  list-style-type: none;
  list-style-position: inside; }

*:focus {
  outline: none; }

@media (max-width: 700px) {
  html {
    overflow-x: hidden; } }
body {
  margin: 0 !important;
  overflow-x: hidden;
  background-color: #999; }

/* Settings */
:root {
  --offset: 1.5rem;
  --max_width: 72rem;
  --columns: 2;
  --gutter: .5rem;
  --baseline: 15px;
  --baseline-shift: 2rem;
  --color: rgba(126, 195, 241, 0.25);
  --media-query: 'base'; }

/* Helper variables */
:root {
  --repeating-width: calc(100% / var(--columns));
  --column-width: calc((100% / var(--columns)) - var(--gutter));
  --background-width: calc(100% + var(--gutter));
  --background-columns: repeating-linear-gradient(to right, var(--color), var(--color) var(--column-width), transparent var(--column-width), transparent var(--repeating-width));
  --background-baseline: repeating-linear-gradient(to bottom, black, var(--color) 1px, transparent 1px, transparent var(--baseline)); }

html, body {
  height: auto;
  box-sizing: border-box;
  margin: 0 !important;
  background: lightgrey;
  z-index: -1; }

body {
  overflow-x: visible; }

hr {
  border: none; }

#pages {
  text-align: center; }
  #pages .safe {
    display: inline-block; }
  #pages .crop {
    display: inline-block;
    box-sizing: content-box; }
    #pages .crop .page {
      background: white;
      box-sizing: border-box;
      margin-top: 20mm;
      margin-bottom: 20mm; }
  #pages hr {
    border: none;
    height: 0; }

@media print {
  html, body, #pages, .page {
    padding: 0;
    margin: 0 !important;
    background: none; }

  #pages .safe:first-of-type {
    margin: 1mm !important;
    page-break-after: always !important; }
  #pages .crop {
    border-color: white;
    margin: 0 !important; } }
#pages .page {
  width: 210mm;
  height: 297mm;
  max-width: 210mm;
  max-height: 297mm;
  padding-left: 10mm;
  padding-right: 10mm;
  padding-top: 10mm;
  padding-bottom: 15mm;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 4mm;
  grid-row-gap: 15px;
  grid-template-rows: repeat(22, 1fr);
  overflow: hidden; }
#pages hr {
  border: none;
  height: 0; }
#pages .recto {
  background: #fff !important; }
  #pages .recto .cartouche {
    z-index: 9;
    background: white;
    color: white;
    grid-column: 1/3;
    grid-row: 1/6;
    width: 100%;
    height: 100%;
    color: #0b60a6;
    border: 1px solid #0b60a6;
    padding: 15px 12.5px;
    box-sizing: border-box; }
  #pages .recto .p5Canvas {
    position: absolute;
    top: 0;
    left: 0; }
  #pages .recto #defaultCanvas0 path {
    mix-blend-mode: multiply; }

@media print {
  @page {
    size: 212mm 299mm;
    margin: 0; } }

/*# sourceMappingURL=print.css.map */
